
SkechObject/benchmarks/new1/*
SkechObject/benchmarks/new2/*
SkechObject/benchmarks/new3/*
SkechObject/tmp/*

SkechObject/experiments/*

SkechObject/lib/sketch-1.6.7.linux-x86.tar.gz
SkechObject/lib/sketch-1.6.7/

#Compiled classes
*.class

#Generated parsers
#  json parser
SkechObject/src/jsonparser/json*.java
SkechObject/src/jsonparser/json*.tokens
#  java parser
SkechObject/src/javaparser/simpleJava*.java
SkechObject/src/javaparser/simpleJava*.tokens

